*{
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  text-align: start;
}

ul{
  list-style: none;
}

ul li{
  padding-top: 16px;
}

.filter{
  filter: invert(1);
}


/* HEADER */
header .head-scroll{
  width: 100%;
  height: 70px;
  background-color: whitesmoke;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
}

header .head-interact{
 margin: 15px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding-top: 10px; 
}

.menu-1 ul{
  display: flex;
  flex-direction: row;
  width: (30% - 100px);
}

header .menu-1 ul li:first-child:hover{
  cursor: default;
  border: none;
}

header .menu-1 img{
  transform: translate(-20%, -20%);
}

header .menu-1 ul li{
  color: black;
  font-weight: lighter;
  padding: 5px 10px 12px;
  cursor: pointer;
}

.menu-2 ul{
  display: flex;
  flex-direction: row;
}

header .menu-2 ul li{
  color: black;
  font-weight: lighter;
  padding: 4px 10px;
  cursor: pointer;
}
header .menu-2 ul li:hover,
header .menu-1 ul li:hover{
  border-bottom: 2px solid;
}

header .menu-2 ul li:last-child{
  color: whitesmoke;
}

header .menu-2 .start{
  background-color: blue;
  padding: 10px;
  transform: translate(0, -20%);
}

header .menu-2 ul li:last-child:hover{
  cursor: pointer;
  border: none;
}

/* JUMBO */

.jumbo{
  padding-top: 70px;
  height: 71vh;
  background-color: rgb(155, 185, 241);
}

.jumbo .container{
  display: inline-block;
  height: 220px;
  margin: 50px 300px;
}

.jumbo .container h1{
  font-size: 80px;
  padding-bottom: 20px;
}

.jumbo .jumbotron{
  display: flex;

}

.jumbo .jumbotron .text{
  width: 40%;
  text-align: start;
  display: inline-block;
  position: relative;
}

.jumbo .jumbotron .bottone{
  height: 40px;
  width: 100%;
  background-color: blue;
  text-align: center;
  padding-top: 12px;
  color: aliceblue;
  margin: 65px 0;
  cursor: pointer;
}

.jumbo .text i{
  position: absolute;
  bottom: 60px;
  left: 0;
  font-size: 40px;
}

.jumbo .container .jumbotron .image{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.jumbo .container .jumbotron img{
  width: 80%;
}

/* MAIN */
main ul{
  padding: 0;
}

main ul li{
  padding: 15px 0;
}

main .container .content>h2{
  font-size: 50px;
  margin: 60px 0;
}

main .container .content .choise{
  width: 30%;
  display: flex;
  justify-content: space-between;
}

main .FAQ,
main .container,
main .last-container{
  padding: 60px 250px;
}

main .content{
  height: 90px;
  width: 100%;
}

main .contain{
  width: (100% / 3);
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.singolo,
.team,
.azienda,
.card-center{
  width: 100%;
  padding: 25px 25px;
}

main .padding{
  margin: 20px 15px;
}

.contain-singolo,
.contain-team,
.contain-azienda{
  padding-top: 7px;
  width: 100%;
  height: 100%; 
  border: 1px solid gray;
}

main .family{
  text-align: center;
  display: block;
}

main .line{
  height: 1px;
  width: 100%;
  background-color: gray;
}

main ul.ul-1 li:nth-last-child(2){
  padding: 15px;
  background-color: blue;
  color: white;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.underline{
  padding-bottom: 18px;
  border-bottom: 1px solid gray;
  display: inline-block;
}

main strong{
  padding: 20px 0;
  display: inline-block;
}

main .contain-card-center{
  display: flex;
  justify-content: space-between;
}

main .btn{
  display: inline-block;
  padding: 16px;
  background-color: blue;
  color: white;
  text-align: center;
  cursor: pointer;
}

main .partner{
  display: flex;
  gap: 20px;
  width: 100%;
  height: 700px;
  padding: 25px;
}

.partner .image{
  width: 60%;
}

.partner .image img{
  width: 100%;
  height: 100%;
}

.partner .text{
  margin-top: 200px;
  width: 20%;
  height: 140px;
}

.partner .text>p{
  padding: 1em 0;
}

.partner .text>span{
  display: inline-block;
  padding: 10px;
  border: 1px solid gray;
  cursor: pointer;
}

.operation .operate{
  width: 100%;
  display: inline-block;
}

.operation h2{
  font-size: 50px;
  margin-top: 40px;
}

.operation .operate-card{
  width: calc(100% / 3);
  min-height: 200px;
  max-height: 400px;
  float: left;
  padding-right: 10px;
  max-height: 100%;
} 

.operation .operation-card{
  text-align: justify;
}

.operation-card img,
.operation-card h3,
.operation-card p{
  max-width: 90%;
  margin-bottom: 10px;
}

main .h2{
  margin-top: 1000px;
}

main .a{
  display: block;
  margin: 40px 0;
}

main .marks{
  height: 50vh;
  width: 100%;
}

main .marks .containers{
  display: flex;
  height: 100%;
}

main .container-1,
main .container-2,
main .container-3{
  width: calc(100% / 3);
  height: 100%;
  display: block;
}

main .container-2{
  padding: 30px;
  background-color: #f8f8f8;
}

.container-2 img{
  width: 200px;
}

main .container-2 .line-1{
  height: 1px;
  width: 20%;
  background-color: #e0e0e0;
  margin: 30px 0;
}

main .last-container{
  width: 100%;
  height: 20vh;
  background-color: mediumturquoise;
  display: flex;
  justify-content: space-between;
  text-align: justify;
  position: relative;
}

main .last-container>span{
  display: flex;
  width: 30%;
  height: 60%;
  background-color: #f8f8f8;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

main .container-1 .aside-left,
main .container-3 .aside-right{
  width: 50%;
  height: 25vh;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container-1 .aside-left img,
main .container-3 .aside-right img{
  width: 50%;
}

main .container-1 .aside-left:active,
main .container-3 .aside-right:active{
  border: 10px solid rgba(255, 255, 255, 0.4);
}

main .aside-left.uf img{
  max-height: 10%;
}

.FAQ{
  margin-top: 300px;
}

.FAQ h2{
  margin-bottom: 100px;
}

main .faq{
  padding: 50px 0;
  padding-right: 50px;
  border-top: 1px solid gray;
  display: flex;
  justify-content: space-between;
}

main .faq:last-child{
  border-bottom: 1px solid gray;
}

/* FOOTER */
footer .container{
  margin-top: 200px;
  padding: 0 100px;
  width: 100%;
  height: 450px;
  background-color: black;
  color: aliceblue;
  
}

footer .contain{
  height: 80%; 
  display: flex;
  flex-direction: row;
}

footer .menu{
  width: 100%;
  height: 150px;
  
}

footer .menu h4{
  padding: 40px 40px 20px;
  font-weight: 600;
}

footer .menu ul li{
  line-height: 25px;
  font-size: small;
  cursor: pointer;
}

footer .bottom{
  padding: 40px 40px 0;
  height: 60px; 
  color: gray;
}

footer .line{
  height: 1px;
  width: 100px;
  background-color: gray;
  margin-left: 40px;
}



